<div>
    <div class="details">

        <div class="container mt-5 mb-5">

            <div class="row">

                <div class="col-lg-6" *ngIf="product">
                    <img src="{{product.img}}" width="100%" />
                    <h1 class="mt-3">{{(product.title)}}</h1>
                    <p>Description: {{product.description}}</p>
                    <p>Price: {{product.price}} EUR</p>
                    <p>Author: {{product.owner.username}}</p>

                    
                        <div id="buttons">
                            <button class="btn btn-md btn-dark mt-3" *ngIf="isAuthor">Edit</button>
                            <button class="btn btn-md btn-dark mt-3" *ngIf="isAuthor">Delete</button>
                            <button routerLink="/catalog" class="btn btn-md btn-dark mt-3">Back</button>
                        </div>
                   

                </div>

                <ng-container *ngIf="(loginStatus$ | async) as loginStatus">
                    <div class="col-lg-5 col-12" *ngIf="!loginStatus || !isAuthor" >
                        <h1>Order now</h1>
                        <p>If you`d like to taste this fresh and organic product</p>
                        <button class="btn btn-md btn-dark mt-3">Place Order</button>

                    </div>
                </ng-container>

            </div>

        </div>

    </div>
</div>