<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bazaar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalog">ALL PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">CREATE PRODUCT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">LOGOUT</a>
      </li>

    </ul>
    
  </div>
</nav>