<div id="background">

<div class="banner">
    <div class="home-container">

        <div class="short-info">
            <h1>The best place to share production</h1>
            <h2>The best place to find local organic products</h2>
        </div>

    </div>
</div>


<section id="home-page">
    <div class="home-background">
    <div class="row">
        <div class="col-lg-3 mt-3" >
            <div class="offers">
                <div class="col container">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ITbfAAvaxmOLCHmFn9_kiQHaE8%26pid%3DApi&f=1">
                   
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 mt-3" >
            <div class="offers">
                <div class="col container">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.aD_qRNNnm57QbJyQ2_TZmAHaHa%26pid%3DApi&f=1">
                    
                </div>
               
            </div>
        </div><div class="col-lg-3 mt-3" >
            <div class="offers">
                <div class="col container">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.TkVkdkcir-TfXV-CIpJIDQHaFj%26pid%3DApi&f=1">
                
                </div>
               
            </div>
        </div>
        
        <div class="col-lg-3 mt-3" >
            <div class="offers">
                <div class="col container">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.WBl8DcdHHpoXx9jY_k-_gwAAAA%26pid%3DApi&f=1">
                
                </div>
               
            </div>
        </div>
        
    </div>

</div>
</section>
</div>
