<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let product of productsList">
            <div class="productbox mt-3 mb-3">
                <img src="{{product.img}}">
                <h1>{{product.title}}</h1>
                <p>{{product.description}}</p>
                <p>{{product.price| currency:''}}</p>
                <br />
                <a [routerLink]="['/catalog', product._id]">Details<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>